.home{
    position:relative;
    height: 100%;
   display: flex;
   justify-content: center;
   align-content: center;
   flex-direction: column;
   font-family: 'fantasy';
    &_text_wrapper{
        display: flex;
        justify-content: center;
        .wave {
            animation-name: wave-animation; 
            animation-duration: 2.5s;       
            animation-iteration-count: infinite;  
            transform-origin: 70% 70%;       
            display: inline-block;
          }
          
          @keyframes wave-animation {
              0% { transform: rotate( 0.0deg) }
             10% { transform: rotate(14.0deg) } 
             20% { transform: rotate(-8.0deg) }
             30% { transform: rotate(14.0deg) }
             40% { transform: rotate(-4.0deg) }
             50% { transform: rotate(10.0deg) }
             60% { transform: rotate( 0.0deg) }  
            100% { transform: rotate( 0.0deg) }
          }
        h1{
            color: var(---yellow-them-main-color);
            margin: 0px;
            line-height: 6rem;
            font-weight: 500;
            font-size: 4rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30,end);
        }
       
    }
    &_contect_me{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        button{
            cursor: pointer;
            padding: 10px 70px;
            font-size: 2rem;
            background: transparent;
            color: var(---yellow-them-main-color);
            border: 1.5px solid var(---yellow-them-main-color);
            border-radius: 4px;
            font-family: 500;

            &:hover{
                background-color: var(---yellow-them-main-color);
                color: #000000;
            }
        }
    }
}

@media only screen and (max-width:550px){
    .home_text_wrapper h1{
        font-size: 2rem;
        line-height:2.5rem;
    }
}
@media only screen and (min-width:551px) and (max-width:768px){
    .home_text_wrapper h1{
        font-size: 3rem;
        line-height: 3rem;
    }
}
@media only screen and (min-width:769px) and (max-width:990px){
    .home_text_wrapper h1{
        font-size: 3.6rem;
        line-height: 3.6rem;
    }
    
}


@keyframes typingEffectAnimation{
    from{
       width: 0;
    }
    to{
       width: 60%;
    }
}

