@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root{
  ---yellow-them-background-color:#1d1d1d;
  ---yellow-them-main-color: #ffdd40 ;
  ---yellow-them-sub-text-color:#fffffF;
  ---yellow-them-nav-background-color:#181818;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-y: hidden; 
  overflow-x: hidden;
}

html{

  height: 100%;
}

body{
 background:var(---yellow-them-background-color); 
  height: 100%;
}

#root{
  height: 100%;
}



